<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create one variable containing following type of data:
## (i) string
## (ii) list
## (iii) float
## (iv) tuple

In [1]:
# String.
new_string = 'Sayan Bandopadhyay'
print(type(new_string))

<class 'str'>

In [2]:
# List.
new_list = [2,3,4,'Sayan',True]
print(type(new_list))

<class 'list'>

In [3]:
# Float.
num = 55.89
print(type(num))

<class 'float'>

In [4]:
# Tuple.
t = (23,'Hyundai')
print(type(t))

<class 'tuple'>

## Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.

In [9]:
# Data Type.
var1 = ''
print(f'Data type of var1 is {type(var1)}')

var3 = [ 'DS' , 'ML' , 'Python']
print(f'Data type of var1 is {type(var3)}')

var4 = 1
print(f'Data type of var1 is {type(var4)}')

Data type of var1 is <class 'str'>
Data type of var1 is <class 'list'>
Data type of var1 is <class 'int'>

## Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

In [10]:
# Division.
num1 = 44
num2 = 11
num1 / num2

4.0

In [11]:
# Modulus.
num3 = 34
num4 = 5
num3 % num4

4

In [12]:
# Floor Division.
num5 = 41
num6 = 7
num5 // num6

5

In [13]:
# Exponent.
num7 = 7
num8 = 3
num7 ** num8

343

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
list1 = [4, 5, 6, 'Sayan', 'Rohan', True, False, 5.6, 6.7, 3+6j]
print(f'Number of elements in list1 is {len(list1)}')
for i in list1:
  print(i, type(i))

Number of elements in list1 is 10
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
Sayan <class 'str'>
Rohan <class 'str'>
True <class 'bool'>
False <class 'bool'>
5.6 <class 'float'>
6.7 <class 'float'>
(3+6j) <class 'complex'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [19]:
n1 = 45
n2 = 3
while n1 % n2 == 0:
  print('Completely Divisible')
  n1 /= 3

# So n1 is divisible by n2 only 2 times.

Completely Divisible
Completely Divisible

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [24]:
# Creating a list with 25 integers.
num_list = []
for i in range(25,51):
  num_list.append(i)

print(num_list)

# Looping through the list to find numbers divisible by 3.
for k in num_list:
  if k % 3 == 0:
    print(f'{k} is divisible by 3')
  else:
    print(f'{k} is not divisible by 3')

[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3
31 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
34 is not divisible by 3
35 is not divisible by 3
36 is divisible by 3
37 is not divisible by 3
38 is not divisible by 3
39 is divisible by 3
40 is not divisible by 3
41 is not divisible by 3
42 is divisible by 3
43 is not divisible by 3
44 is not divisible by 3
45 is divisible by 3
46 is not divisible by 3
47 is not divisible by 3
48 is divisible by 3
49 is not divisible by 3
50 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [26]:
# Mutable data type.
list_a = [2,3,4,'Sayan',True]
list_a[3] = 'Akash'
list_a

# Mutable means which can be changed or replaced as 'Sayan' is replaced by 'Akash' in the list. List is a mutable object.

[2, 3, 4, 'Akash', True]

In [28]:
# Immutable data type.
str_1 = 'Hot'
# str_1[0] = 'P'             This will throw an error.

# Immutable means which cant be changed or replaced as 'H' cant be replaed by 'P' in the string. String is an immutable object.

'H'