<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create one variable containing following type of data:
## (i) string
## (ii) list
## (iii) float
## (iv) tuple

In [1]:
# String.
new_string = 'Sayan Bandopadhyay'
print(type(new_string))

<class 'str'>

In [2]:
# List.
new_list = [2,3,4,'Sayan',True]
print(type(new_list))

<class 'list'>

In [3]:
# Float.
num = 55.89
print(type(num))

<class 'float'>

In [4]:
# Tuple.
t = (23,'Hyundai')
print(type(t))

<class 'tuple'>

## Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.

In [9]:
# Data Type.
var1 = ''
print(f'Data type of var1 is {type(var1)}')

var3 = [ 'DS' , 'ML' , 'Python']
print(f'Data type of var1 is {type(var3)}')

var4 = 1
print(f'Data type of var1 is {type(var4)}')

Data type of var1 is <class 'str'>
Data type of var1 is <class 'list'>
Data type of var1 is <class 'int'>

## Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

In [10]:
# Division.
num1 = 44
num2 = 11
num1 / num2

4.0

In [11]:
# Modulus.
num3 = 34
num4 = 5
num3 % num4

4

In [12]:
# Floor Division.
num5 = 41
num6 = 7
num5 // num6

5

In [13]:
# Exponent.
num7 = 7
num8 = 3
num7 ** num8

343

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
list1 = [4, 5, 6, 'Sayan', 'Rohan', True, False, 5.6, 6.7, 3+6j]
print(f'Number of elements in list1 is {len(list1)}')
for i in list1:
  print(i, type(i))

Number of elements in list1 is 10
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
Sayan <class 'str'>
Rohan <class 'str'>
True <class 'bool'>
False <class 'bool'>
5.6 <class 'float'>
6.7 <class 'float'>
(3+6j) <class 'complex'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
n1 = 45
n2 = 3
l = []
while n1 % n2 == 0:
  print('Completely Divisible')
  n1 /= 3

# So n1 is divisible by n2 only 2 times.

Completely Divisible
Completely Divisible