<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
# Code.
new_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
new_list.sort(key = lambda n : n[1])
print(new_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [17]:
# Squaring values of list using only 'lambda' function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq = lambda n : [i**2 for i in n]
sq(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Squaring values of list using both 'map' and 'lambda' function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq_list = list(map(lambda n : n**2, l))
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.

## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
a = [4,5]
b = [str (i) for i in a]
print(b)

['4', '5']

In [26]:
# Converting list of integers to tuples of strings using only 'lambda' function.
r = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
str_list = lambda k : [str(j) for j in k]
conv_tuple = tuple(str_list(r))
print(conv_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [37]:
# Converting list of integers to tuples of strings using only 'lambda' and 'Map' function.
r = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
conv_2 = list(map(lambda x : str(x), r))
tuple_2 = tuple(conv_2)
print(tuple_2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')