<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
# Code.
new_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
new_list.sort(key = lambda n : n[1])
print(new_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [16]:
# Squaring values of list using both 'map' and 'lambda' function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq_list = list(map(lambda n : n**2, l))
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.

## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [40]:
# Converting list of integers to tuples of strings using only 'lambda' and 'Map' function.
r = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
conv_tuple = tuple(map(lambda x : str(x), r))
print(conv_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [49]:
# Creating a list of numbers ranging from 1 to 25.
num_list = []
for n in range(1,26):
  num_list.append(n)

print(num_list)

# Computing the product of the listr using reduce function.
import functools
prod_ = functools.reduce(lambda x,y: x*y, num_list)
print(f'Product of the elements of the list --------------> {prod_}')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
Product of the elements of the list --------------> 15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

In [61]:
# Using 'filter' function to extract the numbers that are divisible by 2 & 3.
data_1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]


def two_three_div(n):
  if n % 2 == 0:
    return n
  elif n % 3 == 0:
    return n
  else:
    pass

fil_data = list(filter(two_three_div, data_1))
print(f'These numbers are divisible by 2 & 3 {fil_data}')

These numbers are divisible by 2 & 3 [2, 3, 6, 9, 27, 60, 90, 120, 46]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

## ['python', 'php', 'aba', 'radar', 'level']

In [75]:
# Finding palindromes in the given list of strings using lambda & filter.
prog_list = ['python', 'php', 'aba', 'radar', 'level']

rev_list = list(filter(lambda x: (x == "".join(reversed(x))), prog_list)) 
print(rev_list)

['php', 'aba', 'radar', 'level']