<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Write a Python program that defines a function called "add_numbers" that takes two arguments (i.e., numbers) and returns their sum. Within the function, add the two numbers together and return the result using the return statement. Call the function with the values 5 and 6, and print out the returned result.

## This will result in the addition of 5 and 6, with the output of the program being the sum of these two numbers.

In [1]:
# Code.
def add_numbers(n1, n2):
  '''
  Takes two areguments and returns their sum.
  '''
  add = n1 + n2
  return add

# Use Case.
print(add_numbers(5,6))

11

## Q2. Write a Python program that calculates the square root of a given number using a built-in function. Specifically, the program should take an integer or float input from the user, calculate its square root using the 'sqrt()' function from the 'math' module, and print out the result to the user.

## As an example, calculate the square root of the number 625 using this program, which should output the value of 25.

In [2]:
# Code.
def sq_root(n):
  '''
  Takes a number and calculates the square root of the particular number.
  '''
  import math
  root_value = math.sqrt(n)
  return root_value

# Use Case.
print(sq_root(625))

25.0

## Q3.Write a program that prints all prime numbers between 0 to 50.

In [3]:
# Code.
for num in range(2,51):
  is_prime = True
  for i in range(2,num):
    if num % i == 0:
      is_prime = False
      break
  if is_prime:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## Q4.How can we swap the values of three variables (let's say a, b, and c) without using a fourth variable?

## For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The challenge is to perform this operation without using an additional variable to store any of the values during the swapping process.

In [4]:
# Code.
a = 5
b = 8
c = 9
a, b, c = c, a, b

print("a =", a)
print("b =", b)
print("c =", c)

a = 9
b = 5
c = 8

## Q5. Can you write a program that determines the nature of a given number (in this case, 87) as being positive, negative, or zero? The program should be designed to take the number as input and perform the necessary calculations to determine if the number is positive (i.e., greater than zero), negative (i.e., less than zero), or zero (i.e., equal to zero). The output of the program should indicate which of these three categories the given number falls into.

In [5]:
# Code.
def num_nature():
  '''
  Takes input as a number and checks the nature of the number.
  '''
  # User input.
  num = int(input('Mention the number: '))

  # Conditionals.
  if num > 0:
    print('Number is positive')
  elif num < 0:
    print('Number is negative')
  elif num == 0:
    print('Number is equal to zero')

# Use Case.
num_nature()

Mention the number: -44
Number is negative

# Q6. How can you create a program that determines whether a given number (in this case, 98) is even or odd? The program should be designed to take the number as input and perform the necessary calculations to determine whether it is divisible by two. If the number is divisible by two without leaving a remainder, it is an even number, and if there is a remainder, it is an odd number. The output of the program should indicate whether the given number is even or odd.

In [6]:
# Code.
def odd_even_checker():
  '''
  Takes the number as input and outputs the information whether the number is even or odd
  '''
  user_input = int(input('Mention the number: '))

  # Coditionals
  if user_input % 2 == 0:
    print(f'{user_input} is an even number')
  else:
    print(f'{user_input} is an odd number')

# Use case.
odd_even_checker()

Mention the number: 45
45 is an odd number

# Q7.Write a program for sum of digits.The digits are 76543 and the output should be 25.

In [7]:
# Code
def sum_of_digits():
  '''
  Takes the digits of the number and sums it up to return the value
  '''
  user_inp = input('Mention the number: ')
  l = list(user_inp)
  new_l = []
  for i in l:
    new_l.append(int(i))
  print(sum(new_l))

# Use Case.
sum_of_digits()

Mention the number: 345
12

# Q8.Write a program for reversing the given number 5436 and the output should be 6345.

In [8]:
# Code.
def reverse_num():
  '''
  Takes the number and diasplays the reverse number
  '''
  user_inp = input('Mention the number: ')
  reverse_user_inp = user_inp[::-1]
  print(int(reverse_user_inp))

# Use Case.
reverse_num()

Mention the number: 421
124

# Q9.Write a program to check if a given number 371 is an Armstrong number?

In [9]:
# Code.
def arms_check():
  '''
  Takes the number and checks whether its an armstrong number or not
  '''
  user_inp = input('Mention the numnber: ')
  num_len = len(user_inp)
  num_list = list(user_inp)
  value_list = []

  for i in num_list:
    value_list.append(int(i)**num_len)

  total_value = sum(value_list)
  if int(user_inp) == total_value:
    print(f'{user_inp} is an armstrong number')
  else:
    print(f'{user_inp} is not an armstrong number')

# Use Case.
arms_check()

Mention the numnber: 476
476 is not an armstrong number

# Q10. Write a program the given year is 1996, a leap year.

In [10]:
# Code.
def leap_test(year):
  '''
  Take year as an argument and checks whether that is a leap year or not
  '''
  if year % 4 == 0:
    print(f'{year} is a leap year')
  elif year % 400 == 0:
    print(f'{year} is a leap year')
  else:
    print(f'{year} is not a leap year')

# Use Case.
leap_test(1996)

1996 is a leap year

# Q11. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

##Add ‘mango to the above list. Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [20]:
# Code.
a = [2,3,4,5,6,7]

# Adding 'Mango', 'Banana', 'Grapes' & 'Orange'.
a.append('Mango')
a.append('Banana')
a.append('Grapes')
a.append('Orange')

# Inserting 'Apple' in 5th position.
a[5] = 'Apple'
print(a)

# Removing last item from list.
a.pop()
print(a)

[2, 3, 4, 5, 6, 'Apple', 'Mango', 'Banana', 'Grapes', 'Orange']
[2, 3, 4, 5, 6, 'Apple', 'Mango', 'Banana', 'Grapes']

# Q12.L = [1,2,3,4,5,6,7]. Using the above list slice from 1:4

In [21]:
# Code.
L = [1,2,3,4,5,6,7]
sliced_L = L[1:4]
print(sliced_L)

[2, 3, 4]

# Q13. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [22]:
# Code.
L = [4,5,6,8,3]
L_reverse = L[::-1]
print(L_reverse)

[3, 8, 6, 5, 4]

# Q14. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [23]:
# Code.
L = [2,4,7,3,6,8]
sq_L = [numbers**2 for numbers in L]
print(sq_L)

[4, 16, 49, 9, 36, 64]

# Q15. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [27]:
# Code.
def tuple_sum(tuple):
  '''
  Takes in a tuple of integers and returns the sum of the integers.
  '''
  add_tuple = sum(tuple)
  return f'Sum of all the elements in the tuple is {add_tuple}'

# Use Case.
random_tuple = (76,34,96,13)
tuple_sum(random_tuple)

'Sum of all the elements in the tuple is 219'

# Q16. Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [29]:
# Code.
fruit_set = {'Guava', 'Mango'}
fruit_set_1 = {'Apple', 'Banana'}

# Union of two sets.
union_set = fruit_set.union(fruit_set_1)
print(union_set)

{'Apple', 'Banana', 'Guava', 'Mango'}

# Q17. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [31]:
# Code.
random_words = {'Pretense', 'Sycophant', 'Tome', 'Plethora'}

# Adding new word.
random_words.add('Candor')
print(random_words)

{'Plethora', 'Sycophant', 'Candor', 'Tome', 'Pretense'}

# Q18. Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [32]:
# Code.
animals = {'Cheetah', 'Gorilla', 'Ghariyal', 'Coyote'}

# Removing one element.
animals.remove('Gorilla')
print(animals)

{'Cheetah', 'Coyote', 'Ghariyal'}

# Q19. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
#Use the zip() function to combine the book set and movie list into a list of tuples representing book/ movie pairs. Print the resulting list.

In [34]:
# Code.
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

# Zipping the set and list.
zip_list = list(zip(favorite_books, favorite_movies))
print(zip_list)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

# Q20. Write a Python program to find the difference between consecutive numbers in a list.

In [44]:
# Code.
con_list = [33,51,66,44]

dif_list = []
for i in range(len(con_list) - 1):
    dif = con_list[i+1] - con_list[i]
    dif_list.append(dif)

print(dif_list)

[18, 15, -22]