<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
# Code.
new_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
new_list.sort(key = lambda n : n[1])
print(new_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [7]:
# Squaring values of list using 'lambda' function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq = lambda n : [i**2 for i in l]
sq(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Squaring values of list using 'map' function.