<a href="https://colab.research.google.com/github/Arka1212/Data-Science-Assignments/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Write a Python program that defines a function called "add_numbers" that takes two arguments (i.e., numbers) and returns their sum. Within the function, add the two numbers together and return the result using the return statement. Call the function with the values 5 and 6, and print out the returned result.

## This will result in the addition of 5 and 6, with the output of the program being the sum of these two numbers.

In [1]:
# Code.
def add_numbers(n1, n2):
  '''
  Takes two areguments and returns their sum.
  '''
  add = n1 + n2
  return add

# Use Case.
print(add_numbers(5,6))

11

## Q2. Write a Python program that calculates the square root of a given number using a built-in function. Specifically, the program should take an integer or float input from the user, calculate its square root using the 'sqrt()' function from the 'math' module, and print out the result to the user.

## As an example, calculate the square root of the number 625 using this program, which should output the value of 25.

In [2]:
# Code.
def sq_root(n):
  '''
  Takes a number and calculates the square root of the particular number.
  '''
  import math
  root_value = math.sqrt(n)
  return root_value

# Use Case.
print(sq_root(625))

25.0

## Q3.Write a program that prints all prime numbers between 0 to 50.

In [3]:
# Code.
for num in range(2,51):
  is_prime = True
  for i in range(2,num):
    if num % i == 0:
      is_prime = False
      break
  if is_prime:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## Q4.How can we swap the values of three variables (let's say a, b, and c) without using a fourth variable?

## For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The challenge is to perform this operation without using an additional variable to store any of the values during the swapping process.

In [4]:
# Code.
a = 5
b = 8
c = 9
a, b, c = c, a, b

print("a =", a)
print("b =", b)
print("c =", c)

a = 9
b = 5
c = 8

## Q5. Can you write a program that determines the nature of a given number (in this case, 87) as being positive, negative, or zero? The program should be designed to take the number as input and perform the necessary calculations to determine if the number is positive (i.e., greater than zero), negative (i.e., less than zero), or zero (i.e., equal to zero). The output of the program should indicate which of these three categories the given number falls into.

In [5]:
# Code.
def num_nature():
  '''
  Takes input as a number and checks the nature of the number.
  '''
  # User input.
  num = int(input('Mention the number: '))

  # Conditionals.
  if num > 0:
    print('Number is positive')
  elif num < 0:
    print('Number is negative')
  elif num == 0:
    print('Number is equal to zero')

# Use Case.
num_nature()

Mention the number: 34
Number is positive

# Q6. How can you create a program that determines whether a given number (in this case, 98) is even or odd? The program should be designed to take the number as input and perform the necessary calculations to determine whether it is divisible by two. If the number is divisible by two without leaving a remainder, it is an even number, and if there is a remainder, it is an odd number. The output of the program should indicate whether the given number is even or odd.

In [6]:
# Code.
def odd_even_checker():
  '''
  Takes the number as input and outputs the information whether the number is even or odd
  '''
  user_input = int(input('Mention the number: '))

  # Coditionals
  if user_input % 2 == 0:
    print(f'{user_input} is an even number')
  else:
    print(f'{user_input} is an odd number')

# Use case.
odd_even_checker()

Mention the number: 44
44 is an even number

# Q7.Write a program for sum of digits.The digits are 76543 and the output should be 25.

In [7]:
# Code
def sum_of_digits():
  '''
  Takes the digits of the number and sums it up to return the value
  '''
  user_inp = input('Mention the number: ')
  l = list(user_inp)
  new_l = []
  for i in l:
    new_l.append(int(i))
  print(sum(new_l))

# Use Case.
sum_of_digits()

Mention the number: 45678
30

# Q8.Write a program for reversing the given number 5436 and the output should be 6345.

In [8]:
# Code.
def reverse_num():
  '''
  Takes the number and diasplays the reverse number
  '''
  user_inp = input('Mention the number: ')
  reverse_user_inp = user_inp[::-1]
  print(int(reverse_user_inp))

# Use Case.
reverse_num()

Mention the number: 12345
54321

# Q9.Write a program to check if a given number 371 is an Armstrong number?

In [9]:
# Code.
def arms_check():
  '''
  Takes the number and checks whether its an armstrong number or not
  '''
  user_inp = input('Mention the numnber: ')
  num_len = len(user_inp)
  num_list = list(user_inp)
  value_list = []

  for i in num_list:
    value_list.append(int(i)**num_len)

  total_value = sum(value_list)
  if int(user_inp) == total_value:
    print(f'{user_inp} is an armstrong number')
  else:
    print(f'{user_inp} is not an armstrong number')

# Use Case.
arms_check()

Mention the numnber: 629
629 is not an armstrong number

# Q10. Write a program the given year is 1996, a leap year.

In [10]:
# Code.
def leap_test(year):
  '''
  Take year as an argument and checks whether that is a leap year or not
  '''
  if year % 4 == 0:
    print(f'{year} is a leap year')
  elif year % 400 == 0:
    print(f'{year} is a leap year')
  else:
    print(f'{year} is not a leap year')

# Use Case.
leap_test(1996)

1996 is a leap year

# Q11. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

##Add ‘mango to the above list. Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [11]:
# Code.
a = [2,3,4,5,6,7]

# Adding 'Mango', 'Banana', 'Grapes' & 'Orange'.
a.append('Mango')
a.append('Banana')
a.append('Grapes')
a.append('Orange')

# Inserting 'Apple' in 5th position.
a[5] = 'Apple'
print(a)

# Removing last item from list.
a.pop()
print(a)

[2, 3, 4, 5, 6, 'Apple', 'Mango', 'Banana', 'Grapes', 'Orange']
[2, 3, 4, 5, 6, 'Apple', 'Mango', 'Banana', 'Grapes']

# Q12.L = [1,2,3,4,5,6,7]. Using the above list slice from 1:4

In [12]:
# Code.
L = [1,2,3,4,5,6,7]
sliced_L = L[1:4]
print(sliced_L)

[2, 3, 4]

# Q13. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [13]:
# Code.
L = [4,5,6,8,3]
L_reverse = L[::-1]
print(L_reverse)

[3, 8, 6, 5, 4]

# Q14. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [14]:
# Code.
L = [2,4,7,3,6,8]
sq_L = [numbers**2 for numbers in L]
print(sq_L)

[4, 16, 49, 9, 36, 64]

# Q15. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [15]:
# Code.
def tuple_sum(tuple):
  '''
  Takes in a tuple of integers and returns the sum of the integers.
  '''
  add_tuple = sum(tuple)
  return f'Sum of all the elements in the tuple is {add_tuple}'

# Use Case.
random_tuple = (76,34,96,13)
tuple_sum(random_tuple)

'Sum of all the elements in the tuple is 219'

# Q16. Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [16]:
# Code.
fruit_set = {'Guava', 'Mango'}
fruit_set_1 = {'Apple', 'Banana'}

# Union of two sets.
union_set = fruit_set.union(fruit_set_1)
print(union_set)

{'Mango', 'Banana', 'Apple', 'Guava'}

# Q17. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [17]:
# Code.
random_words = {'Pretense', 'Sycophant', 'Tome', 'Plethora'}

# Adding new word.
random_words.add('Candor')
print(random_words)

{'Pretense', 'Candor', 'Tome', 'Plethora', 'Sycophant'}

# Q18. Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [18]:
# Code.
animals = {'Cheetah', 'Gorilla', 'Ghariyal', 'Coyote'}

# Removing one element.
animals.remove('Gorilla')
print(animals)

{'Coyote', 'Cheetah', 'Ghariyal'}

# Q19. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
#Use the zip() function to combine the book set and movie list into a list of tuples representing book/ movie pairs. Print the resulting list.

In [19]:
# Code.
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

# Zipping the set and list.
zip_list = list(zip(favorite_books, favorite_movies))
print(zip_list)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('1984', 'The Dark Knight')]

# Q20. Write a Python program to find the difference between consecutive numbers in a list.

In [20]:
# Code.
con_list = [33,51,66,44]

dif_list = []
for i in range(len(con_list) - 1):
    dif = con_list[i+1] - con_list[i]
    dif_list.append(dif)

print(dif_list)

[18, 15, -22]

# Q21. Create a dictionary called fruits with the following key-value pairs:
# "apple": 0.75
# "banana": 1.25
# "orange": 0.90
# Then, print out the price of a banana.

In [21]:
# Code.
fruits = ['apple', 'banana', 'orange']
price = [0.75, 1.25, 0.90]

fruit_dic = dict(zip(fruits, price))
print(fruit_dic)

# Printing 'Banana' price.
print(f'Price of Banana is {fruit_dic["banana"]}')

{'apple': 0.75, 'banana': 1.25, 'orange': 0.9}
Price of Banana is 1.25

# Q22. Create an empty dictionary called ages. Add the following key-value pairs to the dictionary:
# "Alice": 30
# "Bob": 25
# "Charlie": 35
# Then, print out the age of Charlie.

In [22]:
# Code.
emp_dic = {}
emp_dic['Alice'] = 30
emp_dic['Bob'] = 25
emp_dic['Charlie'] = 35
print(emp_dic)

# Age of Charlie.
print(f'Age of Charlie is {emp_dic["Charlie"]}')

{'Alice': 30, 'Bob': 25, 'Charlie': 35}
Age of Charlie is 35

# Q23. Write a function called word_count(text) that takes a string as input and returns a dictionary whereEach key is a word in the text and its value is the number of times that word appears in the text.Forfor example, word_count("hello world hello") should return {"hello": 2, "world": 1}.

In [23]:
# Code.
def word_count(text):
  '''
  Takes a string as input and returns a dictionary where each key is a word in the text and its value is the number of times that word
  appears in the text.
  '''
  # Splitting the string into list.
  uniform_str = text.lower()
  l = uniform_str.split(' ')

  # Empty dictionary to store key-value pairs.
  d = {}

  # Looping to find the count.
  for k in l:
    count = l.count(k)
    d[k] = count

  print(d)

# Use Case.
word_count('hello world hello bowl can cowl bowl bowl cowl can')

{'hello': 2, 'world': 1, 'bowl': 3, 'can': 2, 'cowl': 2}

# Q24. Create a dictionary called phone_book with the following key-value pairs:
# "Alice": "555-1234"
# "Bob": "555-5678"
# "Charlie": "555-9012"
# Then, prompt the user to enter a name and print out the corresponding phone number. If the name is not in the phone book, print out a message saying that the name was not found.

In [24]:
# Code.
e = {"Alice":"555-1234", "Bob":"555-5678", "Charlie":"555-9012"}

# Code to extract number.
name_inp = input('Mention the name: ').capitalize()

if name_inp in e.keys():
  print(e[name_inp])
else:
  print('Name not found')

Mention the name: Alice
555-1234

# Q25. Write a program that prompts the user to enter a number between 1 and 10. If the number is less than 5, print out "Too low!", otherwise print out "Too high!".

In [25]:
# Code.
num = int(input('Mention a number between 1 to 10: '))
if num < 5:
  print('Too Low')
else:
  print('Too High')

Mention a number between 1 to 10: 6
Too High

# Q26. Write a program that prompts the user to enter a password. If the password is "password123", print out "Access granted", otherwise print out "Access denied".

In [26]:
# Code.
pw = input('Insert the password: ')
if pw == 'password123':
  print('ACCESS GRANTED')
else:
  print('ACCESS DENIED')

Insert the password: lopas
ACCESS DENIED

# Q27. Write a program that prompts the user to enter a positive integer. Then, use a loop to print out all the odd numbers from 1 to that integer.

In [27]:
# Code.
user_inp = int(input('Type a positive integer: '))

if user_inp < 0:
  print("It is not a positive integer")
elif user_inp > 0:
  odd_list = []
  for i in range(1, user_inp):
    if i % 2 != 0:
      odd_list.append(i)
    else:
      pass
  print(odd_list)

Type a positive integer: 29
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

# Q28. Write a program that generates a random number between 1 and 100 and then prompts the user to guess the number. If the user's guess is too low, print out "Too low!", if the guess is too high,print out "Too high!", and if the guess is correct, print out "You win!".

In [28]:
# Code.
import random
rand = random.randint(1,100)

# Number Guessing.
g = int(input('Guess the number: '))
if g == rand:
  print('You Win')
elif g < rand - 20:
  print('Too Low')
elif g > rand + 20:
  print('Too High')
else:
  pass

Guess the number: 45

# Q29. Write a program that generates a random number between 1 and 10 and then prompts the user to guess the number. The user has three attempts to guess the number. If the user guesses correctly within three attempts, print out "You win!", otherwise print out "You lose!".

In [29]:
# Code.
import random
rand = random.randint(1,10)
attempts = 3

# Number Guessing.
for i in range(1, attempts + 1):
  guess = int(input('Guess the number: '))
  if guess == rand:
    print('You win')
    break
  elif i < attempts:
    print('Wrong guess')
  else:
    print('You Lose')

Guess the number: 39
Wrong guess
Guess the number: 75
Wrong guess
Guess the number: 56
You Lose

# Q30. Write a program that prompts the user to enter their age and then prints out whether they are a child (age 0-12), a teenager (age 13-19), an adult (age 20-59), or a senior (age 60+)

In [30]:
# Code.
m = int(input('Mention your age: '))
if 0 < m <= 12:
  print('Child')
elif 13 < m <= 19:
  print('Teenager')
elif 20 < m <= 59:
  print('Adult')
elif m > 60:
  print('Senior')
else:
  pass

Mention your age: 35
Adult

# Q31. Create a class called "Person" with properties for "name", "age", and "gender". Create an object of this class and print out its properties.

In [31]:
# Code.
class Person:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

# Creating object.
person_obj = Person('Sayan Bandopadhyay', 25, 'Male')

# Printing properties of object.
print(f'Name of the person is {person_obj.name}')
print(f'Age of the person is {person_obj.age}')
print(f'Gender of the person is {person_obj.gender}')

Name of the person is Sayan Bandopadhyay
Age of the person is 25
Gender of the person is Male

# Q32. Write a Python class called "Rectangle" with attributes for "width" and "height". Implement methods to calculate the area and perimeter of the rectangle. Create an instance of this class and use it to print out the rectangle's area and perimeter.

In [32]:
# Code.
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def area(self):
    a = self.length * self.width
    return f'Area is {a}'

  def peri(self):
    p = 2 * (self.length + self.width)
    return f'Perimeter is {p}'

# Creating class instance.
rec_object = Rectangle(50, 20)
rectangle_area = rec_object.area()
rectangle_peri = rec_object.peri()

# Outputing the area and perimeter.
print(rectangle_area)
print(rectangle_peri)

Area is 1000
Perimeter is 140

# Q33. Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate". Implement methods to deposit and withdraw money from the account, as well as to calculate the interest earned on the balance based on the interest rate. Create an instance of this class and use it to test out the implemented methods for deposit, withdrawal, and interest calculation.

In [33]:
# Code.
class BankAccount:
  def __init__(self, balance, int_rate):
    self.balance = balance
    self.interest_rate = int_rate

  def deposit(self):
    ask = int(input('Mention Amount: '))
    bal = self.balance + ask
    self.balance += ask
    return f'Depsoited {ask} and the updated balance is {bal}'

  def withdraw(self):
    ask1 = int(input('Mention Amount: '))
    if ask1 <= self.balance:
      self.balance -= ask1
      return f'Withdrew {ask1} and the remaining balance is {self.balance}'
    else:
      return 'Insufficient funds for withdrawal'


  def int_rate_calc(self):
    i = self.balance * (self.interest_rate / 100)
    return f'Interest to be earned on the balance is {i}'

# Creating class instance.
my_bank_acc = BankAccount(65000, 6)

# Depsoting Money.
dep = my_bank_acc.deposit()
print(dep)

# Withdrawing Money.
withdrawn = my_bank_acc.withdraw()
print(withdrawn)

# Interest Calculations.
i_amount = my_bank_acc.int_rate_calc()
print(i_amount)

Mention Amount: 45000
Depsoited 45000 and the updated balance is 110000
Mention Amount: 3200
Withdrew 3200 and the remaining balance is 106800
Interest to be earned on the balance is 6408.0

# Q34. Write a Python class called "Animal" with attributes for "name" and "species". Create a subclass of "Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes with appropriate methods and constructors to initialize their properties. Create instances of both classes and use them to print out the various properties of the animals and dogs, such as their names, species, breeds, and owners.

In [34]:
# Code.
class Animal:
  def __init__(self, name, species):
    self.name = name
    self.species = species

class Dog(Animal):
  def __init__(self, name, species, breed, owner):
    super().__init__(name, species)
    self.breed = breed
    self.owner = owner

# Create class instances.
animal_obj = Animal('Pom', 'Dog')
Dog_obj = Dog('Bhutu', 'Dog', 'Culture Pom', 'Bristi Das')

# Properties of class.
print(animal_obj.name)
print(animal_obj.species)
print(Dog_obj.breed)
print(Dog_obj.owner)

Pom
Dog
Culture Pom
Bristi Das

# Q35. Create a class called "Car" with properties for "make", "model", and "year". Create a subclass of "Car" called "ElectricCar" with additional properties for "battery_size" and "range". Create objects of both classes and print out their properties.

In [35]:
# Code.
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year

class ElectricCar(Car):
  def __init__(self, make, model, year, battery_size, range):
    super().__init__(make, model, year)
    self.battery = battery_size
    self.range = range

# Creating 'Car' class instance.
mycar = Car('Hyundai', 'Alcazar', 2023)
print(mycar.make)
print(mycar.model)
print(mycar.year)

# Creating 'ElectricCar' class instance.
ec = ElectricCar('Hyundai', 'Kone', 2023, 48.4, 342)
print(ec.battery)
print(ec.range)

Hyundai
Alcazar
2023
48.4
342

# Q36. Create a class called "Student" with properties for "name" and "id". Create a subclass of "Student" called "GraduateStudent" with additional properties for "advisor" and "research_area". Create objects of both classes and print out their properties.

In [36]:
# Code.
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id

class GraduateStudent(Student):
  def __init__(self, name, id, advisor, research_area):
    super().__init__(name, id)
    self.advisor = advisor
    self.research_area = research_area

# Creating class instance.
s = Student('Abhay Sinha', 7877)
gs = GraduateStudent('Nikhil Davolkar', 7733, 'Statistics', 'Econometrics')

# Object properties.
print(s.name)
print(s.id)
print(gs.advisor)
print(gs.research_area)

Abhay Sinha
7877
Statistics
Econometrics

# Q37. Create a class called "Shape" with methods to calculate the area and perimeter of the shape. Create subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for calculating area and perimeter. Create objects of each class and print out their area and perimeter.

In [38]:
# Code.
class shape:
  def __init__(self):
    pass

  def area(self):
    pass

  def perimeter(self):
    pass

In [43]:
#  Subclass for 'Rectangle'.
class Rect(shape):
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def rect_area(self):
    return f'Area of rectangle is {self.length * self.width}'

  def rect_peri(self):
    return f'Perimeter of rectangle is {2 * (self.length + self.width)}'

# Use Case.
new_rect = Rect(50,30)
print(new_rect.length)
print(new_rect.width)
print(new_rect.rect_area())
print(new_rect.rect_peri())

50
30
Area of rectangle is 1500
Perimeter of rectangle is 160

In [47]:
# Subclass for 'Circle'.
class circle(shape):
  def __init__(self, radius):
    self.radius = radius

  def circle_area(self):
    return f'Area of circle is {3.14 * (self.radius**2)}'

  def circle_peri(self):
    return f'Perimeter of circle is {2 * 3.14 * self.radius}'

# Use Case.
new_cir = circle(40)
print(new_cir.radius)
print(new_cir.circle_area())
print(new_cir.circle_peri())

40
Area of circle is 5024.0
Perimeter of circle is 251.20000000000002

In [49]:
# Subclass for 'Triangle'.
class tri(shape):
  def __init__(self, s1, s2, s3):
    self.side_1 = s1
    self.side_2 = s2
    self.side_3 = s3

  def tri_area(self):
    import math
    semi_peri = (self.side_1 + self.side_2 + self.side_3) / 2
    ar = math.sqrt(semi_peri*(semi_peri - self.side_1)*(semi_peri - self.side_2)*(semi_peri - self.side_3))
    return f'Area of triangle is {ar}'

  def tri_peri(self):
    return f'Perimeter of triangle is {self.side_1 + self.side_2 + self.side_3}'

# Use Case.
new_tri = tri(3,5,7)
print(new_tri.side_1)
print(new_tri.side_2)
print(new_tri.side_3)
print(new_tri.tri_area())
print(new_tri.tri_peri())

3
5
7
Area of triangle is 6.49519052838329
Perimeter of triangle is 15

# Q38. Create a class called "Employee" with properties for "name", "id", and "salary". Add methods to give the employee a raise and to calculate their annual salary. Create objects of this class and test out the methods.

In [54]:
# Code.
class employee:
  def __init__(self, name, id, salary):
    self.name = name
    self.id = id
    self.salary = salary

  def hike(self):
    r = int(input("Raise percentage: "))
    new_salary = self.salary * (100 + r)/100
    return f'New salary after raise of {r}% is {new_salary}'

# Use Case.
em = employee('Sayan Banerjee', 3434, 55000)
print(em.name)
print(em.id)
print(em.salary)
print(em.hike())

Sayan Banerjee
3434
55000
Raise percentage: 15
New salary after raise of 15% is 63250.0

# Q39. Create a class called "Book" with properties for "title", "author", and "publisher". Create a subclass of "Book" is called "Ebook" with additional properties for "file_format" and "file_size". Create objects of both classes and print out their properties.

In [59]:
# Code.
class Book:
  def __init__(self, title, author, publisher):
    self.title = title
    self.author = author
    self.publisher = publisher

# Objects Creation.
b = Book('One Man Army', 'James Faulkner', 'Penguin Publication')
print(b.title)
print(b.author)
print(b.publisher)

One Man Army
James Faulkner
Penguin Publication

In [61]:
# Subclass of above class.
class Ebook(Book):
  def __init__(self, title, author, publisher, file_format, file_size):
    super().__init__(title, author, publisher)
    self.format = file_format
    self.size = file_size

# Object Creation.
eb = Ebook('One Man Army', 'James Faulkner', 'Penguin Publication', 'PDF', '665 mb')
print(eb.title)
print(eb.author)
print(eb.publisher)
print(eb.format)
print(eb.size)

One Man Army
James Faulkner
Penguin Publication
PDF
665 mb

# Q40. Create a class called "Bank" with properties for "name" and "accounts". Add methods to create new accounts, deposit and withdraw money from accounts, and to calculate the total balance of all accounts.

# Create an object of this class and test out the methods.

In [67]:
# Code.
class Bank:
  def __init__(self, name, account):
    self.name = name
    self.account = account

  def deposit(self):
    am = int(input("Amount to be deposited: "))
    self.account += am
    return f'Balance in account: {self.account}'

  def withdraw(self):
    wam = int(input("Amount to be withdrawn: "))
    self.account -= wam
    return f'Balance remaining is {self.account}'

# Use Case.
my_bank = Bank("Sayan Banerjee", 35000)
print(my_bank.name)
print(my_bank.account)
print(my_bank.deposit())
print(my_bank.withdraw())

Sayan Banerjee
35000
Amount to be deposited: 10000
Balance in account: 45000
Amount to be withdrawn: 20000
Balance remaining is 25000

# Q41. Can you create a Python program that reads a text file and counts the number of words contained within it? The program should be designed to read the file and break it down into individual words, using spaces, punctuation marks, and other delimiters to separate the words. It should then count the number of words found in the file and display this count as output. The program should be flexible enough to work with different text files and should be able to handle a variety of formatting and punctuation styles.

In [68]:
import re

def count_words_in_file(file_path):
    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            text = file.read()
            # Use regular expression to split text into words
            words = re.findall(r'\b\w+\b', text)
            word_count = len(words)
            return word_count
    except FileNotFoundError:
        print(f"File '{file_path}' not found.")
        return -1  # Return -1 to indicate an error
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return -1  # Return -1 to indicate an error

if __name__ == "__main__":
    file_path = "your_text_file.txt"  # Replace with the path to your text file
    word_count = count_words_in_file(file_path)

    if word_count != -1:
        print(f"Total words in the file: {word_count}")

File 'your_text_file.txt' not found.